.header{
    height: 80px;
    background: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    
}

.nav-items a{
 font-weight: 400;
font-size: 17px;
line-height: 20px;
letter-spacing: 0.005em;
padding-left: 30px;
color: #FFFFFF;

}